<a href="https://colab.research.google.com/github/MatheusSilvaTorres/Python/blob/main/Copy_of_Aula_5_Parte_II_Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Parte II - Estruturas de Dados
## Aula 5 - Listas
### Linguagem de Programação (Prof. Dr. Henrique Dezani)
Curso de Tecnologia em Análise e Desenvolvimento de Sistemas da Faculdade de Tecnologia de São José do Rio Preto

Na Parte I, começamos com os tipos de dados básicos do Python: booleanos, números inteiros, de ponto flutuante e strings. Se considerarmos eles como átomos, as estruturas de dados desta Parte II são as moléculas. Ou seja, combinamos esses tipos básicos de maneiras mais complexas. Você os usará todos os dias. Grande parte da programação consiste em cortar e colar dados em formas específicas, e essas são suas serras e cola (Lubanovic, 2014).

A maioria das linguagens de computador pode representar uma sequência de itens indexados por sua posição inteira: primeiro, segundo e assim por diante até o último. Lembrando que os índices sempre iniciam em zero. 

Na última aula vimos `strings` Python, que são sequências de caracteres. Reveja o exemplo abaixo com os caracteres desta sequência e seus respectivos índices.

In [ ]:
texto = 'Hello World'
for index, caractere in enumerate(texto):
  print('[{}] {}'.format(index, caractere), end='\t')

[0] H	[1] e	[2] l	[3] l	[4] o	[5]  	[6] W	[7] o	[8] r	[9] l	[10] d

O Python possui duas outras estruturas de sequência: tuplas e listas. Eles contêm zero ou mais elementos. Diferentemente das `strings`, os elementos podem ser de tipos diferentes. De fato, cada elemento pode ser qualquer objeto Python. Isso permite criar estruturas tão profundas e complexas quanto você desejar. 

`Tuplas` são **imutáveis**; quando você atribui elementos a uma tupla, eles  não podem ser alterados. As `listas` são **mutáveis**, o que significa que você pode inserir e excluir elementos da maneira que desejar.

## 5.1. Listas (List)
As listas são boas para acompanhar as coisas por ordem, especialmente quando a ordem e o conteúdo podem mudar. Diferentemente das `strings`, as listas são **mutáveis**. Você pode alterar uma lista no local específico, adicionar novos elementos e excluir ou substituir elementos existentes. O mesmo valor pode ocorrer mais de uma vez em uma lista. Veja alguns exemplos de como podemos criar listas a seguir:

In [ ]:
dias_semana = ['Domingo', 'Segunda-feira', 'Terça-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sábado']

for dia in dias_semana:
  print(dia)

Domingo
Segunda-feira
Terça-feira
Quarta-feira
Quinta-feira
Sexta-feira
Sábado

In [ ]:
for index, dia in enumerate(dias_semana):
  print(index, dia)

0 Domingo
1 Segunda-feira
2 Terça-feira
3 Quarta-feira
4 Quinta-feira
5 Sexta-feira
6 Sábado

Como vimos anteriormente, podemos criar uma lista com **[]**.
Uma lista é composta de zero ou mais elementos, separados por vírgulas e entre colchetes. Outra maneira de criar uma lista é utilizando a **função interna** list(). Veja o exemplo.

In [ ]:
# alunos = []
# ou
alunos = list()

In [ ]:
print(alunos)

[]

In [ ]:
type(alunos)

list

In [ ]:
type(dias_semana)

list

É importante relembrar que uma lista pode aceitar qualquer tipo de objeto e estes podem se repetir na lista. Vejamos um exemplo:

In [ ]:
lista_de_objetos = [1, 'texto', 2.3, True, 1, None, []]

In [ ]:
for item in lista_de_objetos:
  print(item, type(item))

1 <class 'int'>
texto <class 'str'>
2.3 <class 'float'>
True <class 'bool'>
1 <class 'int'>
None <class 'NoneType'>
[] <class 'list'>

##Fica a dica! 
Caso a ordem dos elementos não sejam importantes e seja necessário restrigir **apenas objetos únicos**, utilizamos a estrutura de dados `set` (conjunto). Veremos esta estrutura em próximas aulas.

### 5.1.1. Convertendo outros tipos de dados para lista
A lista é uma das principais estruturas de dados utilizadas nos programas de computadores, portanto, é importante estudarmos como converter outros tipos de dados para listas. Vejamos aluns exemplos:

In [ ]:
# Podemos utilizar a a função interna list() para converter uma string para uma lista de string (caracteres):
list('Fatec')

['F', 'a', 't', 'e', 'c']

In [ ]:
# Podemos utilizar a função interna split, de string, para transformar textos em listas a partir de um elemento separador:
data_aniversario = '11/05/1981'
data_aniversario.split('/')

['11', '05', '1981']

### 5.1.2. Obter um item usando [offset]
Como nas `strings`, você pode extrair um único valor de uma lista, especificando seu índice (offset, ou deslocamento). Veja o exemplo:

In [ ]:
for index, dia in enumerate(dias_semana):
  print(index, dia)

0 Domingo
1 Segunda-feira
2 Terça-feira
3 Quarta-feira
4 Quinta-feira
5 Sexta-feira
6 Sábado

In [ ]:
dias_semana[2]

'Terça-feira'

Podemos utilizar índices negativos, os quais realizam a contagem para trás a partir do final. Veja o exemplo. (Detalhe, podemos fazer a mesma coisa com string).

In [ ]:
dias_semana[-1]

'Sábado'

In [ ]:
dias_semana[-7]

'Domingo'

In [ ]:
#usando string:
texto = 'Fatec'
print(texto[0])
print(texto[-1])

F
c

O deslocamento deve ser válido para a lista, ou seja, deve haver uma posição em que você atribuiu um valor anteriormente. Se você especificar uma posição antes do início ou após o final, receberá uma exceção (erro) - **index out of range**. Aqui está o que acontece se tentarmos obter o item na posição 5 do texto.

In [ ]:
print(texto[5])

IndexError: ignored

###5.1.3 Alterar um item por [índice]

Assim como você pode obter o valor de um item da lista por seu índice, você pode alterá-lo. Veja o exemplo:

In [ ]:
notas = [7.0, 8.0, 7.5, 9.0]
print(notas)

[7.0, 8.0, 7.5, 9.0]

In [ ]:
notas[1] = 6.5
print(notas)

[7.0, 6.5, 7.5, 9.0]

Novamente, o deslocamento da lista precisa ser válido para esta lista. Além disso, é importante lembrar que listas são imutáveis e strings não. Ou seja, você não pode alterar um caractere em uma string dessa maneira. As listas são mutáveis. Você pode alterar quantos itens uma lista contém e os próprios itens.

In [ ]:
texto = 'Fatec'
texto[2] = 'A'

TypeError: ignored

###5.1.4 Resolvendo a alteração de uma string usando list() e .join()
A função interna `join()` é o oposto da função interna `split()` e é aplicada apenas para `string`. Com ela podemos juntar uma lista de `string` numa única. Veja o exemplo abaixo para resolvermos o problema de alteração de caracteres de uma string (imutável).

In [ ]:
texto = 'Fatec'

lista_texto = list(texto)
print(lista_texto)

lista_texto[1] = 'A'
print(lista_texto)

texto = ''.join(lista_texto)
print(texto)

['F', 'a', 't', 'e', 'c']
['F', 'A', 't', 'e', 'c']
FAtec

### 5.1.5. Obter uma fatia para extrair itens por intervalo de deslocamento

Você pode extrair uma subsequência de uma lista usando uma fatia (slice):

In [ ]:
coordenadores = ['Adriano', 'Ducatti', 'Sérgio']

for index, coordenador in enumerate(coordenadores):
  print(index, coordenador)

0 Adriano
1 Ducatti
2 Sérgio

In [ ]:
# neste caso, definimos o início e o intervalo final (-1)
# Uma fatia de uma lista também é uma lista. 
coordenadores[0:2]

['Adriano', 'Ducatti']

In [ ]:
# Neste exemplo começa no início e vai para a direita de 2 em 2:
coordenadores[::2]

['Adriano', 'Sérgio']

In [ ]:
# Aqui, começamos no final e vamos à esquerda de 1 em 1, ou seja, reverter a lista:
coordenadores[::-1]

['Sérgio', 'Ducatti', 'Adriano']

In [ ]:
# Vale lembrar que string é uma sequência de caracteres, portanto, a mesma manipulação é válida para ele:
nome = 'Fatec Rio Preto'
print(nome[::2])
print(nome[1:3])
print(nome[::-1])

FtcRoPeo
at
oterP oiR cetaF

###5.1.6 Adicione um item ao final com a função .append()

A maneira tradicional de adicionar itens a uma lista é usando a função interna .append() um por um até o final. Nos exemplos anteriores, esquecemos o coordenador do EaD, prof. João, mas tudo bem, porque a lista é **mutável**, portanto, para que possamos adicioná-lo agora:

In [ ]:
coordenadores.append('João')
print(coordenadores)

['Adriano', 'Ducatti', 'Sérgio', 'João']

###5.1.7. Combine listas usando .extend() ou +=

Você pode mesclar uma lista em outra usando a função extend(). Suponha que tenhamos uma lista com professores e queremos fundí-la com a lista de coordenadores, de maneira a exibir todo o corpo docente:

In [ ]:
professores = ['Henrique', 'Carlos', 'Djalma', 'Maura', 'Lucimar']
print(professores)

professores.extend(coordenadores)
print(professores)

# outras alternativas seriam para obter o mesmo efeito,
# seria utilizar +=
# professores += coordenadores

['Henrique', 'Carlos', 'Djalma', 'Maura', 'Lucimar']
['Henrique', 'Carlos', 'Djalma', 'Maura', 'Lucimar', 'Adriano', 'Ducatti', 'Sérgio', 'João']

Se tivéssemos usado append(), para professores, teríamos os coordenadores adicionados como um único item da lista em vez de mesclar seus itens. Isso novamente demonstra que uma lista pode conter elementos de tipos diferentes. Nesse caso, cinco strings e uma lista de três strings.

In [ ]:
professores = ['Henrique', 'Carlos', 'Djalma', 'Maura', 'Lucimar']
professores.append(coordenadores)
print(professores)

['Henrique', 'Carlos', 'Djalma', 'Maura', 'Lucimar', ['Adriano', 'Ducatti', 'Sérgio', 'João']]

###5.1.8. Adicionar um item por índice com `insert()`:

A função `append()` adiciona itens apenas ao final da lista. Quando você deseja adicionar um item antes de qualquer índice na lista, use `insert()`. O deslocamento 0 é inserido no início. Um deslocamento além do final da lista é inserido no final, como `append()`, para que você não precise se preocupar com o lançamento de uma exceção pelo Python.

In [ ]:
professores = ['Henrique', 'Carlos', 'Djalma', 'Maura', 'Lucimar', 'Adriano', 'Ducatti', 'Sérgio', 'João']
professores.insert(0, 'Lucimeire')
print(professores)

['Lucimeire', 'Henrique', 'Carlos', 'Djalma', 'Maura', 'Lucimar', 'Adriano', 'Ducatti', 'Sérgio', 'João']

In [ ]:
professores.insert(20, 'Marildo')
print(professores)

['Lucimeire', 'Henrique', 'Carlos', 'Djalma', 'Maura', 'Lucimar', 'Adriano', 'Ducatti', 'Sérgio', 'João', 'Marildo']

###5.1.9. Excluir um item por deslocamento com del

Vamos supor que professor Marildo tenha saído da instituição para fazer seu doutorado em Harvard. Para excluir da lista, basta utilizar a instrução `del`, do Python, informando qual item da lista deverá ser excluído. Para obter o item da lista, utilizamos seu índice.

In [ ]:
del professores[-1]
print(professores)

['Lucimeire', 'Henrique', 'Carlos', 'Djalma', 'Maura', 'Lucimar', 'Adriano', 'Ducatti', 'Sérgio', 'João']

Quando excluímos um item por sua posição na lista, os itens a seguir retornam para ocupar o espaço do item excluído e o comprimento da lista diminui em um.

`del` é uma instrução Python, não um método de lista - você não diz `professores[-2] .del()`. É uma espécie de reverso da atribuição (=): desanexa um nome de um objeto Python e pode liberar a memória do objeto se esse nome foi a última referência a ele.

###5.1.10 Excluir um item por valor com `remove()`

Se você não tem certeza ou não se importa onde o item está na lista, use remove () para excluí-lo por valor. Por exemplo, vamos supor que o professor Carlos resolveu se aposentar e não mais ministrará aulas (um perda inestimável, aliás).

In [ ]:
professores.remove('Carlos')
print(professores)

['Lucimeire', 'Henrique', 'Djalma', 'Maura', 'Lucimar', 'Adriano', 'Ducatti', 'Sérgio', 'João']

### 5.1.11. Obter um item por sua posição e excluí-lo usando pop()

Você pode obter um item de uma lista e excluí-lo da lista ao mesmo tempo usando `pop()`. Se você chamar `pop()` com um índice, ele retornará o item nesse deslocamento; sem argumento, ele usa -1. Portanto, `pop(0)` retorna a cabeça (início) da lista e `pop()` ou `pop(-1)` retorna a cauda (final), como mostrado no exemplo abaixo:

In [ ]:
# Em uma reunião pedagógica, os professores devem fazer uma apresentação rápida sobre o tema de sua pesquisa na instituição.
# Serão chamados sempre os últimos que chegaram na reunião.
escolhido = professores.pop() # pop(-1)
print(escolhido)
print(professores)

João
['Lucimeire', 'Henrique', 'Djalma', 'Maura', 'Lucimar', 'Adriano', 'Ducatti', 'Sérgio']

#### Adiantando um pouco o conteúdo de Estrutura de Dados

Se você usar `append()` para adicionar novos itens ao final e `pop()` para removê-los do mesmo lado, você implementou uma estrutura de dados conhecida como **pilha** **LIFO** (Last In, First Out - Último a Entrar, Primeiro a Sair). Entretanto, se você utilizar `pop(0)` você criará uma **fila** **FIFO** (First In, First Out - Primeiro a Entrar, Primeiro a Sair). Eles são úteis quando você deseja coletar dados à medida que eles chegam e trabalham com o primeiro mais antigo (FIFO) ou o mais novo primeiro (LIFO).

###5.1.12. Encontrar o deslocamento de um item por valor com `index()`

Se você deseja conhecer o deslocamento de um item em uma lista por seu valor, use index(), como no exemplo abaixo:

In [ ]:
professores.index('Henrique')

1

###5.1.13. Testar um valor com `in`

A maneira Pythonic de verificar a existência de um valor em uma lista é bem simples. Veja no exemplo abaixo, e note que o mesmo valor pode estar em mais de uma posição na lista, portanto, enquanto estiver lá pelo menos uma vez, retornará True:

In [ ]:
'Henrique' in professores

True

In [ ]:
'Ademar' in professores

False

###5.1.14.Contar ocorrências de um valor usando count ()

 Para contar quantas vezes um valor específico ocorre em uma lista, basta usar a função `count()`. Veja os exemplos abaixo:

In [ ]:
professores.count('Henrique')

1

In [ ]:
professores.count('Ademar')

0

###5.1.15. Obter comprimento da lista usando `len()`

Enquanto count() verifica a quantidade de ocorrência de um deteminado item dentro da lista, a função len() retorna o número de itens em uma lista. Veja o exemplo:

In [ ]:
len(professores)

8

###5.1.16. Reordenar itens com `sort()`

Você geralmente precisará classificar os itens em uma lista por seus valores, e não por suas compensações. O Python fornece duas funções, quais sejam:
- A função de lista sort() classifica a própria lista, no local.
- A função geral classificada () retorna uma cópia classificada da lista.

Se os itens da lista forem numéricos, serão classificados por padrão em ordem numérica crescente. Se forem strings, serão classificados em ordem alfabética.

In [ ]:
print(professores)
professores.sort()
print(professores)

['Lucimeire', 'Henrique', 'Djalma', 'Maura', 'Lucimar', 'Adriano', 'Ducatti', 'Sérgio']
['Adriano', 'Djalma', 'Ducatti', 'Henrique', 'Lucimar', 'Lucimeire', 'Maura', 'Sérgio']

In [ ]:
lista_numeros = [1, 5, 2, 8, 12, 0]
lista_numeros_ordenada = sorted(lista_numeros)

print(lista_numeros)
print(lista_numeros_ordenada)

[1, 5, 2, 8, 12, 0]
[0, 1, 2, 5, 8, 12]

A ordem de classificação padrão é crescente, mas você pode adicionar o argumento `reverse=True` na função `sort()` para defini-lo como decrescente. Veja o exemplo:

In [ ]:
lista_numeros.sort(reverse=True)
print(lista_numeros)

[12, 8, 5, 2, 1, 0]

###5.1.17. Atribuir com =, Copiar com `copy()`

Quando você atribui uma lista a mais de uma variável, alterar a lista em um local também a altera na outra, conforme ilustrado aqui:

In [ ]:
lista_a = [1, 2, 3]
lista_b = lista_a

print(lista_a)

lista_b[1] = 5
print(lista_a)

[1, 2, 3]
[1, 5, 3]

**Ponteiro**: lista_b apenas se refere ao mesmo objeto de lista que lista_a; portanto, se alterarmos o conteúdo da lista usando o nome lista_a ou lista_b, isso será refletido em ambos.

Você pode copiar os valores de uma lista para uma nova e independente usando qualquer um destes métodos:
- A função de cópia de lista: `copy()`
- A função de conversão de lista: `list()`
- A fatia da lista [:]

Usando as listas de exemplo criadas anteriormente. Criaremos uma cópia de lista_a em lista_b com a função copy(), lista_c com a função de conversão list()e lista_d com uma fatia da lista:

In [ ]:
lista_a = [1, 2, 3]

lista_b = lista_a.copy()
lista_c = list(lista_a)
lista_d = lista_a[:]

Novamente, lista_b, lista_c e lista_d são cópias de lista_a: são novos objetos com seus próprios valores e sem conexão com o objeto de lista original [1, 2, 3]ao qual a se refere. Alterar lista_a não afeta as cópias lista_b, lista_c e lista_d. Veja no exemplo:

In [ ]:
lista_a[0] = 5

print(lista_a)
print(lista_b)
print(lista_c)
print(lista_d)

[5, 2, 3]
[1, 2, 3]
[1, 2, 3]
[1, 2, 3]

##5.2. Exercícios

###5.2.1. Faça um programa que crie uma lista com 9 números inteiros, compute e mostre os números primos e suas respectivas posições.

In [ ]:
numeros = []
div = 0
while True:
  try:
    num = int(input('Digite um número inteiro: '))
    if num not in numeros:
      numeros.append(num)
      # print(f'Número {num} adicionado com sucesso')
    if len(numeros) == 9:
      break
  except:
      print('Digite um número válido!')
for index, n in enumerate(numero):
  tot = 0
  for i in range(1, n+1):
    if n % i == 0:
      tot +=1
  if tot == 2: print(f'O {n} é primo e seu index é {index}')

Digite um número inteiro: 1
Digite um número inteiro: 2
Digite um número inteiro: 3
Digite um número inteiro: 4
Digite um número inteiro: 5
Digite um número inteiro: 6
Digite um número inteiro: 7
Digite um número inteiro: 8
Digite um número inteiro: 9
O 2 é primo e seu index é 1
O 3 é primo e seu index é 2
O 5 é primo e seu index é 4
O 7 é primo e seu index é 6

In [ ]:
numero = [1, 2, 3, 4, 5, 6, 7, 8, 9]
for index, n in enumerate(numero):
  tot = 0
  for i in range(1, n+1):
    if n % i == 0:
      tot +=1
  if tot == 2: print(f'O {n} é primo e seu index é {index}')

O 2 é primo e seu index é 1
O 3 é primo e seu index é 2
O 5 é primo e seu index é 4
O 7 é primo e seu index é 6

In [ ]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for index, n in enumerate(numeros):
  total = 0
  for i in range(1, n+1):
    if n % i == 0:
      total += 1
  if(total == 2):
    print(index, n)

1 2
2 3
4 5
6 7

###5.2.2. Faça um programa que carregue duas listas com dez elementos numéricos cada uma e mostre um vetor resultante com os 20 elementos. Altere a primeira lista com os novos valores.

In [ ]:
lista1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lista2 = [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

lista1.extend(lista2)
lista1 += lista2

In [ ]:
lista1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

###5.2.3. Faça um programa que carregue duas listas com nomes de animais, com 5 posições cada lista. Em seguida, crie uma lista resultante da intercalação dessas duas listas. No final, mostre os itens dessa nova lista.

In [ ]:
lista1 = ['cachorro', 'gato', 'pato', 'macaco', 'papagaio']
lista2 = ['jacaré', 'lobo', 'boi', 'vaca', 'ovelha']

lista3 = list()

for i in range(0, 5):
  lista3.append(lista1[i])
  lista3.append(lista2[i])

In [ ]:
lista1 = ['cachorro', 'gato', 'pato', 'macaco', 'papagaio']
lista2 = ['jacaré', 'lobo', 'boi', 'vaca', 'ovelha']


lista3 = []

for i in range(0, 5):
  lista3.append(lista1[i])
  lista3.append(lista2[i])

In [ ]:
lista3

['cachorro',
 'jacaré',
 'gato',
 'lobo',
 'pato',
 'boi',
 'macaco',
 'vaca',
 'papagaio',
 'ovelha']

###5.2.4. Faça um programa que crie duas listas x e y, com dez números inteiros cada uma. Os valores deverão ser informados pelo usuário e os valores não podem se repetir dentro de uma lista. Em seguida, crie:

- Uma lista resultante da união de x e y (todos os elementos de x e os elementos de y que não estão em x).
- Uma lista resultante da diferença entre x e y (todos os elementos de x que não existam em y).
- Uma lista resultante da some de x e y (soma de cada elemento de x com o elemento de y na mesma posição)

In [ ]:
lista_x = list()
lista_y = list()

contador = 0
while contador < 10:  
  numero = int(input('Digite um número: '))  
  if numero not in lista_x:
    lista_x.append(numero)
    contador += 1
    
contador = 0
while contador < 10:  
  numero = int(input('Digite um número: '))  
  if numero not in lista_y:
    lista_y.append(numero)
    contador += 1  
# A
lista1 = lista_x.copy()
for n in lista_y:
  if n not in lista_x:
    lista1.append(n)

# B
lista2 = lista_y.copy()
for n in lista_x:
  if n not in lista_y:
    lista2.append(n)

# C
lista3 = list()
for i in range(0,10):
  soma = lista_x[i] + lista_y[i]
  lista3.append(soma)

print(lista1)
print(lista2)
print(lista3)

Digite um número: 1
Digite um número: 2
Digite um número: 3
Digite um número: 4
Digite um número: 5
Digite um número: 6
Digite um número: 7
Digite um número: 8
Digite um número: 9
Digite um número: 10
Digite um número: 11
Digite um número: 12
Digite um número: 13
Digite um número: 14
Digite um número: 15
Digite um número: 16
Digite um número: 17
Digite um número: 18
Digite um número: 19
Digite um número: 19
Digite um número: 20
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [ ]:
lista1 = []
lista2 = []

contador = 0
while contador < 10:  
  numero = int(input('Digite um número: '))  
  if numero not in lista1:
    lista1.append(numero)
    contador += 1
    
contador = 0
while contador < 10:  
  numero = int(input('Digite um número: '))  
  if numero not in lista2:
    lista2.append(numero)
    contador += 1    

# Item A:
lista_a = lista1.copy()

for n in lista2:
  if n not in lista1:
    lista_a.append(n)

# Item B:
lista_b = []

for n in lista1:
  if n not in lista2:
    lista_b.append(n)
    
# Item C:
lista_c = []
for i in range(0, 10):
  soma = lista1[i] + lista2[i]
  lista_c.append(soma)

Digite um número: 1
Digite um número: 2
Digite um número: 2
Digite um número: 2
Digite um número: 3
Digite um número: 4
Digite um número: 5
Digite um número: 6
Digite um número: 7
Digite um número: 8
Digite um número: 9
Digite um número: 10
Digite um número: 11
Digite um número: 12
Digite um número: 13
Digite um número: 14
Digite um número: 15
Digite um número: 16
Digite um número: 17
Digite um número: 18
Digite um número: 19
Digite um número: 20

In [ ]:
lista_c

[12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

###5.2.5. Faça um programa que carregue uma lista com dez números inteiros, informados pelo usuário. Em seguida, crie e mostre uma lista resultante ordenada de maneira crescente e crie e mostre uma lista resultante ordenada de maneira decrescente.

In [ ]:
lista = []
for i in range(4):
  numero = int(input('Digite um numero'))
  lista.append(numero)
  
# lista_c = lista.copy()
# lista_c.sort()
lista_c = sorted(lista)

# lista_d = lista.copy()
# lista_d.sort(reverse=True)

lista_d = lista_c[::-1]

Digite um numero5
Digite um numero3
Digite um numero7
Digite um numero1

In [ ]:
lista

[5, 3, 7, 1]

###5.2.6 Faça um programa que crie uma lista vazia. Em seguida, o usuário deverá informar as notas de trabalhos obtidas (pode variar de 0 até quantos trabalhos forem informados). Por fim, mostre a média aritmética das notas obtidas.

In [ ]:
notas = []

print('Digite uma nota negativa para finalizar')

while True:
  nota = float(input('Digite a nota'))
  if nota < 0:
    break
  notas.append(nota)

media = 0
for nota in notas:
  media += nota
  
media = media / len(notas)
print(media)

Digite uma nota negativa para finalizar
Digite a nota5
Digite a nota3
Digite a nota2
Digite a nota-7
3.3333333333333335

###5.2.7. Implemente o jogo da forca. Um usuário deverá entrar com uma palavra. Em seguida, outro usuário deverá indicar as letras dessa palavra. Caso exista, deverá ser mostrada as letras e as suas posições na palavra. Caso não exista, o usuário perderá uma chance. No total, o usuário terá 6 chances para acertar.

In [ ]:
palavra = input('Digite uma palavra: ')

resultado = []
for c in palavra:
  resultado.append('_')

chances = 6

while True:
  
  print(resultado)
  
  letra = input('Digite uma letra: ')
  
  if letra not in palavra:
    chances -= 1
  else:
    for index, l in enumerate(palavra):
      if l == letra:
        resultado[index] = l    
    
  if chances == 0:
    print('Game Over')
    break
    
  if resultado.count('_') == 0:
    print('Parabéns!')
    break

Digite uma palavra: ola
['_', '_', '_']
Digite uma letra: o
['o', '_', '_']
Digite uma letra: u
['o', '_', '_']
Digite uma letra: o
['o', '_', '_']
Digite uma letra: l
['o', 'l', '_']
Digite uma letra: a
Parabéns!

In [ ]:
palavra = 'banana'

palavra.index('a')

1

###5.2.8. Faça um programa em que o usuário deverá digitar os nomes de dez alunos da sala de aula. Em seguida, caso o programa encontre nomes repetidos, ele deverá alterar o nome adicionando o número sequencial. Por exemplo, se na lista tivermos dois "José", após o processamento a lista deverá conter "José 1" e "José 2".

In [ ]:
nomes = []

for i in range(5):
  nome = input('Digite o nome: ')
  nomes.append(nome)
  
for i in range(4):
  
  nome = nomes[i]
  
  if nomes.count(nome) == 1:
    continue    
  
  nomes[i] = nomes[i] + "1"
  contador = 2
  
  for j in range(i+1, 5):
    if nome == nomes[j]:
      nomes[j] = nomes[j] + str(contador)
      contador += 1
      
print(nomes)

Digite o nome: a
Digite o nome: b
Digite o nome: a
Digite o nome: b
Digite o nome: a
['a1', 'b1', 'a2', 'b2', 'a3']

###5.2.9. Faça um programa que leia 10 números inteiros. Em seguida, processe a lista e remova os números repetidos. No final, mostre essa nova lista.

In [ ]:
lista = [1, 2, 3, 6, 7, 2, 5, 3, 2, 2]

for n in lista:
  if lista.count(n) > 1:
    lista.remove(n)
    
print(lista)

[1, 6, 7, 5, 3, 2]

###5.2.10. Faça um programa que contenha duas listas com 5 posições. Na primeira lista, deverá ser inserido o nome dos alunos. Na segunda lista, na mesma posição, a nota do aluno. Em seguida, mostre o nome dos alunos com a maior e a menor nota.

In [ ]:
nomes = ['Batman', 'Flash', 'Hulk', 'Visão', 'Homem-Formiga']

notas = [10, 7, 2, 10, 5]

menor = min(notas)
indice_menor = notas.index(menor)

maior = max(notas)
indice_maior = notas.index(maior)

print(nomes[indice_maior])
print(nomes[indice_menor])

for index, nota in enumerate(notas):
  if nota == maior:
    print(nomes[index])

Batman
Hulk
Batman
Visão

Alguns testes curso em video

In [ ]:
num = [2, 5, 9, 1]
num[2] = 3
print('1)', num)
num.append(7)
print('2)', num)
num.insert(2, 8)
print('3)', num)
num.sort()
print('4)', num)
num.sort(reverse=True)
print('5)', num)
num.pop()
print('6)', num)
num.pop(2)
print('7)', num)
num.insert(3, 2)
print('9)', num)
num.remove(3)
print('10)', num)
if 5 in num:
    num.remove(5)
else:
    print('O valor 5 não está na lista')
print(f'Essa lista tem {len(num)} elementos')

In [ ]:
valores = []
#  ou valores = list()
valores.append(5)
valores.append(9)
valores.append(4)
print(valores)
for valor in valores:
    print(f'{valor}...', end=' ')
for p, valor in enumerate(valores):
    print(f'\nNa posição {p} encontrei o valor {valor}!', end=' ')

valor = list()
for v in range(0, 5):
    valor.append(int(input('Digite um valor: ')))
for p, v in enumerate(valor):
    print(f'\nNa posição {p} encontrei o valor {v}!', end=' ')

[5, 9, 4]
5... 9... 4...
Na posição 0 encontrei o valor 5!
Na posição 1 encontrei o valor 9!
Na posição 2 encontrei o valor 4! Digite um valor: 9
Digite um valor: 5
Digite um valor: 3
Digite um valor: 4
Digite um valor: 2

Na posição 0 encontrei o valor 9!
Na posição 1 encontrei o valor 5!
Na posição 2 encontrei o valor 3!
Na posição 3 encontrei o valor 4!
Na posição 4 encontrei o valor 2!

In [ ]:
a = [2, 3, 4, 7]
print(f'Lista A: {a}')
b = a
b[2] = 8
print(f'Lista A: {a}')
print(f'Lista B: {b}')
# fazendo copia
b = a[:] # igual a b = a.copy()
b[2] = 9
print(f'Lista A: {a}')
print(f'Lista B: {b}')

Parte II

In [ ]:
test = list()
test.append('Matheus')
test.append(22)
print(test)
galera = list()
galera.append(test[:])
print(galera)
test[0] = 'Natacha'
test[1] = 21
galera.append(test[:])
print(galera)

['Matheus', 22]
[['Matheus', 22]]
[['Matheus', 22], ['Natacha', 21]]

In [ ]:
pessoas = [['Matheus', 22], ['Natacha', 21], ['João', 22], ['Sônia', 55]]
print(pessoas)
print(pessoas[0][1])
for p in pessoas:
  print(f'{p[0]} tem {p[1]} anos de idade')

[['Matheus', 22], ['Natacha', 21], ['João', 22], ['Sônia', 55]]
22
Matheus tem 22 anos de idade
Natacha tem 21 anos de idade
João tem 22 anos de idade
Sônia tem 55 anos de idade

In [ ]:
pessoas = list()
dados = list()
for i in range(0, 3):
  dados.append(str(input('Nome: ')))
  dados.append(int(input('Idade: ')))
  pessoas.append(dados[:])
  dados.clear()
print(pessoas)
for p in pessoas:
  if p[1] >= 21:
    print(f'{p[0]} é maior de idade')
  else: 
    print(f'{p[0]} é menor de idade')

Nome: mah
Idade: 22
Nome: nat
Idade: 21
Nome: lucas
Idade: 5
[['mah', 22], ['nat', 21], ['lucas', 5]]
mah é maior de idade
nat é maior de idade
lucas é menor de idade

Exercicios curso em video

Exercício Python 078: Faça um programa que leia 5 valores numéricos e guarde-os em uma lista. No final, mostre qual foi o maior e o menor valor digitado e as suas respectivas posições na lista.

In [ ]:
numeros = list()
maior = menor = 0
for c in range(0, 5):
    numeros.append(int(input(f'Digite um número para adicionar a lista na posição {c}: ')))
    if c == 0:
      menor = maior = numeros[c]
    else:
      if numeros[c] > maior:
        maior = numeros[c]
      elif numeros[c] < menor:
        menor = numeros[c]

print(f'o maior valor digitado foi {maior} nas posições', end=' ')
for i, v in enumerate(numeros):
  if v == maior:
    print(f'{i}...', end='')
print(f'o menor valor digitado foi {menor} nas posições', end=' ')
for i, v in enumerate(numeros):
  if v == menor:
    print(f'{i}...', end='')


# print(f'O maior valor foi {max(numeros)} e está na posição {numeros.index(max(numeros))}')
# print(f'O menor valor foi {min(numeros)} e está na posição {numeros.index(min(numeros))}')

Digite um número para adicionar a lista na posição 0: 6
Digite um número para adicionar a lista na posição 1: 3
Digite um número para adicionar a lista na posição 2: 6
Digite um número para adicionar a lista na posição 3: 1
Digite um número para adicionar a lista na posição 4: 1
o maior valor digitado foi 6 nas posições 0...2...o menor valor digitado foi 1 nas posições 3...4...

Exercício Python 079: Crie um programa onde o usuário possa digitar vários valores numéricos e cadastre-os em uma lista. Caso o número já exista lá dentro, ele não será adicionado. No final, serão exibidos todos os valores únicos digitados, em ordem crescente.

In [ ]:
numeros = list()
while True:
    n = int(input('Digite um número inteiro: '))
    if n not in numeros:
        numeros.append(n)
        print('Número cadastrado com sucesso!')
    else:
        print('Valor já cadastrado, tente outro...')
    resp = ' '
    while resp not in 'SN':
        resp = str(input('Deseja continuar [S/N]')).strip().upper()[0]
    if resp == 'N':
        break
print(sorted(numeros))

Digite um número inteiro: 9
Número cadastrado com sucesso!
Deseja continuar [S/N]s
Digite um número inteiro: 2
Número cadastrado com sucesso!
Deseja continuar [S/N]n
[2, 9]

Exercício Python 080: Crie um programa onde o usuário possa digitar cinco valores numéricos e cadastre-os em uma lista, já na posição correta de inserção (sem usar o sort()). No final, mostre a lista ordenada na tela.

In [ ]:
numeros = []
for c in range(0, 5):
    num = int(input('Digite um número: '))
    if c == 0 or num > numeros[-1]:
      numeros.append(num)
      print('Valor adicionado ao final da lista!')
    else:
      pos = 0
      while pos <= len(numeros):
        if num <= numeros[pos]:
          numeros.insert(pos, num)
          print(f'Valor adicionado na posição {pos}')
          break
        pos += 1

print(f'os valores em ordem são {numeros}')

Digite um número: 9
Valor adicionado ao final da lista!
Digite um número: 0
Valor adicionado na posição 0
Digite um número: 4
Valor adicionado na posição 1
Digite um número: 6
Valor adicionado na posição 2
Digite um número: 7
Valor adicionado na posição 3
os valores em ordem são [0, 4, 6, 7, 9]

Exercício Python 081: Crie um programa que vai ler vários números e colocar em uma lista.                  Depois disso, mostre:                                                                                                                                                A) Quantos números foram digitados.                                                                                                                    B) A lista de valores, ordenada de forma decrescente.                                                                                          C) Se o valor 5 foi digitado e está ou não na lista.

In [ ]:
lista = list()
while True:
    n = int(input('Digite um numero: '))
    lista.append(n)
    resp = ' '
    while resp not in 'SN':
        resp = str(input('Deseja continuar [S/N]')).strip().upper()[0]
    if resp == 'N':
        break
print(f'Você digitou {len(lista)} elementos')
lista.sort(reverse=True)
print(f'Os valores em ordem decrescente  são {lista}')
if 5 in lista:
    print(f'Você digitou o valor 5')
else:
    print('Valor 5 não encontrado na lista')

Digite um numero: 5
Deseja continuar [S/N]s
Digite um numero: 18
Deseja continuar [S/N]s
Digite um numero: 10
Deseja continuar [S/N]n
Você digitou 3 elementos
Os valores em ordem decrescente  são [18, 10, 5]
Você digitou o valor 5

Exercício Python 082: Crie um programa que vai ler vários números e colocar em uma lista. Depois disso, crie duas listas extras que vão conter apenas os valores pares e os valores ímpares digitados, respectivamente. Ao final, mostre o conteúdo das três listas geradas.

In [ ]:
lista = list()
pares = []
impares = []
while True:
    n = int(input('Digite um numero: '))
    lista.append(n)
    resp = ' '
    while resp not in 'SN':
        resp = str(input('Deseja continuar [S/N]')).strip().upper()[0]
    if resp == 'N':
        break
for n in lista:
    if n % 2 == 0:
        pares.append(n)
    else:
        impares.append(n)
print(lista)
print(impares)
print(pares)

Digite um numero: 2
Deseja continuar [S/N]s
Digite um numero: 3
Deseja continuar [S/N]s
Digite um numero: 4
Deseja continuar [S/N]s
Digite um numero: 9
Deseja continuar [S/N]n
[2, 3, 4, 9]
[3, 9]
[2, 4]

Exercício Python 083: Crie um programa onde o usuário digite uma expressão qualquer que use parênteses. Seu aplicativo deverá analisar se a expressão passada está com os parênteses abertos e fechados na ordem correta.

In [ ]:
expressão = str(input('Digite uma expressão matematica: '))
pilha = list()
for simbolo in expressão:
  if simbolo == '(':
    pilha.append('(')
  elif simbolo == ')':
    if len(pilha) > 0:
      pilha.pop()
    else:
      pilha.append(')')
      break
if len(pilha) == 0:
  print('Sua expressão está correta!')
else: 
  print('Sua expressão está inválida!')

Digite uma expressão matematica: (()
Sua expressão está inválida!

Exercício Python 084: Faça um programa que leia nome e peso de várias pessoas,                                      guardando tudo em uma lista. No final, mostre:                                                                                                    A) Quantas pessoas foram cadastradas.                                                                                                                B) Uma listagem com as pessoas mais pesadas.                                                                                                    C) Uma listagem com as pessoas mais leves.

In [ ]:
dados = []
pessoa = list()
maior = menor = 0
nome = []
while True:
  dados.append(str(input('Nome: ')))
  dados.append(float(input('Peso: ')))
  if len(pessoa) == 0:
    maior = menor =  dados[1]
  else:
      if dados[1] > maior:
        maior = dados[1]
      if dados[1] < menor:
        menor = dados[1]
  pessoa.append(dados[:])
  dados.clear()
  resp = ' '
  while resp not in 'SN':
    resp = str(input('Deseja continuar [S/N]: ')).strip().upper()[0]
  if resp == 'N':
    break
print('='*60)
print(pessoa)
print('='*60)
print(f'A quantidade de pessoas cadastradas é {len(pessoa)}')
print(f'O maior peso é {maior}kg. Peso de ', end= '')
for p in pessoa:
  if p[1] == maior:
    print(f'[{p[0]}]', end='')
print(f'\n O menor peso é {menor}kg. Peso de ', end='')
for p in pessoa:
  if p[1] == menor:
    print(f'[{p[0]}]', end=' ')

Nome: matheus
Peso: 75
Deseja continuar [S/N]: k
Deseja continuar [S/N]: l
Deseja continuar [S/N]: sim
Nome: lucas
Peso: 90
Deseja continuar [S/N]: s
Nome: paula
Peso: 55
Deseja continuar [S/N]: s
Nome: rafa
Peso: 90
Deseja continuar [S/N]: n
============================================================
[['matheus', 75.0], ['lucas', 90.0], ['paula', 55.0], ['rafa', 90.0]]
============================================================
A quantidade de pessoas cadastradas é 4
O maior peso é 90.0kg. Peso de [lucas][rafa]
 O menor peso é 55.0kg. Peso de [paula]

Exercício Python 085: Crie um programa onde o usuário possa digitar sete valores numéricos e cadastre-os em uma lista única que mantenha separados os valores pares e ímpares. No final, mostre os valores pares e ímpares em ordem crescente.

In [ ]:
lista = list()
pares = list()
impares = list()
for i in range(1,7):
  num = int(input(f'Digite o {i} número: '))
  if num % 2 == 0:
    pares.append(num)
  else:
    impares.append(num)
lista.append(pares[:])
lista.append(impares[:])
print('='*30)
print(lista)
print(f'Os números pares digitados foram {sorted(lista[0])}')
print(f'Os números impares digitados foram {sorted(lista[1])}')

Digite o 1 número: 5
Digite o 2 número: 6
Digite o 3 número: 3
Digite o 4 número: 2
Digite o 5 número: 8
Digite o 6 número: 3
==============================
[[6, 2, 8], [5, 3, 3]]
Os números pares digitados foram [2, 6, 8]
Os números impares digitados foram [3, 3, 5]

In [ ]:
núm = [[], []]
for i in range(1, 8):
  valor = int(input(f'Digite o {i}° número: '))
  if valor % 2 == 0:
    núm[0].append(valor)
  else:
    núm[1].append(valor)
print('='*30)
print(núm)
núm[0].sort()
nú3m[1].sort()
print(f'Os números pares digitados foram {núm[0]}')
print(f'Os números impares digitados foram {núm[1]}')

Digite o 1° número: 9
Digite o 2° número: 6
Digite o 3° número: 5
Digite o 4° número: 3
Digite o 5° número: 8
Digite o 6° número: 4
Digite o 7° número: 2
==============================
[[6, 8, 4, 2], [9, 5, 3]]
Os números pares digitados foram [2, 4, 6, 8]
Os números impares digitados foram [3, 5, 9]

Exercício Python 086: Crie um programa que declare uma matriz de dimensão 3×3 e preencha com valores lidos pelo teclado. No final, mostre a matriz na tela, com a formatação correta.

In [ ]:
valores = [[0, 0, 0], [0, 0, 0], [0, 0, 0]]
for l in range(0, 3):
  for c in range(0, 3):
    valores[l][c] = int(input(f'Digite um valor para a posição [{l}, {c}] '))
print(valores)
for l in range(0, 3):
  for c in range(0, 3):
    print(f'[{valores[l][c]:^5}]', end='') # :^5 deixa com 5 casas decimais centralizado
  print() # quebra linha

Digite um valor para a posição [0, 0] 1
Digite um valor para a posição [0, 1] 2
Digite um valor para a posição [0, 2] 3
Digite um valor para a posição [1, 0] 4
Digite um valor para a posição [1, 1] 5
Digite um valor para a posição [1, 2] 6
Digite um valor para a posição [2, 0] 7
Digite um valor para a posição [2, 1] 8
Digite um valor para a posição [2, 2] 9
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[  1  ][  2  ][  3  ]
[  4  ][  5  ][  6  ]
[  7  ][  8  ][  9  ]

In [ ]:
matriz = list()
a = int(input('Digite um valor para a [0, 0]: '))
b = int(input('Digite um valor para a [0, 1]: '))
c = int(input('Digite um valor para a [0, 2]: '))
d = int(input('Digite um valor para a [1, 0]: '))
e = int(input('Digite um valor para a [1, 1]: '))
f = int(input('Digite um valor para a [1, 2]: '))
g = int(input('Digite um valor para a [2, 0]: '))
h = int(input('Digite um valor para a [2, 1]: '))
i = int(input('Digite um valor para a [2, 2]: '))
matriz.append(a)
matriz.append(b)
matriz.append(c)
matriz.append(d)
matriz.append(e)
matriz.append(f)
matriz.append(g)
matriz.append(h)
matriz.append(i)
print(f'{[a]} {[b]} {[c]}')
print(f'{[d]} {[e]} {[f]}')
print(f'{[g]} {[h]} {[i]}')

Digite um valor para a [0, 0]: 1
Digite um valor para a [0, 1]: 2
Digite um valor para a [0, 2]: 3
Digite um valor para a [1, 0]: 4
Digite um valor para a [1, 1]: 5
Digite um valor para a [1, 2]: 6
Digite um valor para a [2, 0]: 7
Digite um valor para a [2, 1]: 8
Digite um valor para a [2, 2]: 9
[1] [2] [3]
[4] [5] [6]
[7] [8] [9]

Exercício Python 087: Aprimore o desafio anterior, mostrando no final:                                                    A) A soma de todos os valores pares digitados.                                                                                                  B) A soma dos valores da terceira coluna.                                                                                                                C) O maior valor da segunda linha.

In [ ]:
matriz = [[0, 0, 0], [0, 0, 0], [0, 0, 0]]
pares = maior = soma = 0
for l in range(0, 3):
  for c in range(0, 3):
    matriz[l][c] = int(input(f'Digite um número para a posição [{l}, {c}]: '))
for l in range(0, 3):
  for c in range(0, 3):
    print(f'[{matriz[l][c]:^5}]', end='')
    if matriz[l][c] % 2 == 0:
      pares += matriz[l][c]
    if c == 2: 
      soma += matriz[l][c]
  print()
print('='*50)
print(f'A soma dos valores pares é: {pares}') 
# outro jeito de calcular a coluna
# for l in range(0,3):
#   soma += matriz[l][2]
print(f'A soma dos valores da terceira coluna é: {soma}') 
for c in range(0, 3):
  if c == 0 or  matriz[1][c] > maior:
    maior = matriz[1][c]
print(f'O maior valor da segunda linha é: {maior}')

Digite um número para a posição [0, 0]: 1
Digite um número para a posição [0, 1]: 2
Digite um número para a posição [0, 2]: 3
Digite um número para a posição [1, 0]: 4
Digite um número para a posição [1, 1]: 5
Digite um número para a posição [1, 2]: 6
Digite um número para a posição [2, 0]: 7
Digite um número para a posição [2, 1]: 8
Digite um número para a posição [2, 2]: 9
[  1  ][  2  ][  3  ]
[  4  ][  5  ][  6  ]
[  7  ][  8  ][  9  ]
==================================================
A soma dos valores pares é: 20
A soma dos valores da terceira coluna é: 18
O maior valor da segunda linha é: 6

In [ ]:
matriz = list()
soma = maior = 0
a = int(input('Digite um valor para a [0, 0]: '))
b = int(input('Digite um valor para a [0, 1]: '))
c = int(input('Digite um valor para a [0, 2]: '))
d = int(input('Digite um valor para a [1, 0]: '))
e = int(input('Digite um valor para a [1, 1]: '))
f = int(input('Digite um valor para a [1, 2]: '))
g = int(input('Digite um valor para a [2, 0]: '))
h = int(input('Digite um valor para a [2, 1]: '))
i = int(input('Digite um valor para a [2, 2]: '))
matriz.append(a)
matriz.append(b)
matriz.append(c)
matriz.append(d)
matriz.append(e)
matriz.append(f)
matriz.append(g)
matriz.append(h)
matriz.append(i)
print(f'{[a]} {[b]} {[c]}')
print(f'{[d]} {[e]} {[f]}')
print(f'{[g]} {[h]} {[i]}')
for n in matriz:
  if n % 2 ==0:
    soma += n
print(f'A soma dos valores pares é: {soma}')
print(f'A soma da terceira coluna é: {c+f+i}')
if d > e:
  if d > f:
    maior = d
  else:
    maior = f
elif e > f:
  maior = e
else: 
  maior = f
print(f'O maior valor da segunda linha é: {maior}')

Digite um valor para a [0, 0]: 7
Digite um valor para a [0, 1]: 3
Digite um valor para a [0, 2]: 2
Digite um valor para a [1, 0]: 6
Digite um valor para a [1, 1]: 4
Digite um valor para a [1, 2]: 9
Digite um valor para a [2, 0]: 1
Digite um valor para a [2, 1]: 5
Digite um valor para a [2, 2]: 3
[7] [3] [2]
[6] [4] [9]
[1] [5] [3]
A soma dos valores pares é: 12
A soma da terceira coluna é: 14
O maior valor da segunda linha é: 9

Exercício Python 088: Faça um programa que ajude um jogador da MEGA SENA a criar palpites.O programa vai perguntar quantos jogos serão gerados e vai sortear 6 números entre 1 e 60 para cada jogo, cadastrando tudo em uma lista composta.

In [ ]:
from time import sleep
from random import randint
palpites = list()
jogos = []
tot = 0
print('=' *30)
print('     PALPILTE DA MEGA-SENA    ')
print('='*30)
quantidade = int(input('Quantos jogos deseja fazer: '))
print('='* 5, f' SORTEANDO {quantidade} JOGOS','='*5 )
while tot < quantidade:
  cont = 0
  while True:
    num = randint(1, 60)
    if num not in palpites:
      palpites.append(num)
      cont+= 1
    if cont >= 6:
      break
  palpites.sort()
  jogos.append(palpites[:])
  palpites.clear()
  tot += 1
for i, l in enumerate(jogos):
  print(f'Jogo {i+1}º: {l} ')
  sleep(1)

==============================
     PALPILTE DA MEGA-SENA
==============================
Quantos jogos deseja fazer: 3
=====  SORTEANDO 3 JOGOS =====
Jogo 1º: [1, 9, 12, 14, 20, 52]
Jogo 2º: [5, 7, 21, 27, 35, 51]
Jogo 3º: [5, 21, 22, 48, 51, 57]

Exercício Python 089: Crie um programa que leia nome e duas notas de vários alunos e guarde tudo em uma lista composta. No final, mostre um boletim contendo a média de cada um e permita que o usuário possa mostrar as notas de cada aluno individualmente.

In [ ]:
boletim= []
while True:
  nome = str(input('Nome: ')).strip().capitalize()
  nota1 = float(input('Nota1: '))
  nota2 = float(input('Nota2: '))
  media = (nota1 + nota2) / 2
  boletim.append([nome, [nota1, nota2], media])
  resp = ' '
  if resp not in 'SN':
    resp = str(input('Deseja continuar [S/N]: ')).strip().upper()[0]
  if resp == 'N':
    break
print('='*30)
print(f'{"N°":<4}{"Nome":<10}{"Média":>8}')
print('='*30)
for i, aluno in enumerate(boletim):
  print(f'{i:<4}{aluno[0]:<10}{aluno[2]:>8.1f}')
while True:
  print('='*30)
  opc = int(input('Deseja mostrar as notas de qual aluno[999 P/ SAIR]: '))
  if opc == 999:
    print('FINALIZANDO...')
    break
  if opc <= len(boletim) - 1:
    print(f'O aluno {boletim[opc][0]} tirou as notas {boletim[opc][1]}')

Nome: matheus
Nota1: 9
Nota2: 10
Deseja continuar [S/N]: s
Nome: natacha
Nota1: 10
Nota2: 10
Deseja continuar [S/N]: s
Nome: joão
Nota1: 6
Nota2: 9
Deseja continuar [S/N]: n
==============================
N°  Nome         Média
==============================
0   Matheus        9.5
1   Natacha       10.0
2   João           7.5
==============================
Deseja mostrar as notas de qual aluno[999 P/ SAIR]: 0
O aluno Matheus tirou as notas [9.0, 10.0]
==============================
Deseja mostrar as notas de qual aluno[999 P/ SAIR]: 1
O aluno Natacha tirou as notas [10.0, 10.0]
==============================
Deseja mostrar as notas de qual aluno[999 P/ SAIR]: 999
FINALIZANDO