<a href="https://colab.research.google.com/github/MatheusSilvaTorres/Python/blob/main/Copy_of_Aula_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Aula 1 - Introdução ao Python
## Linguagem de Programação (Prof. Dr. Henrique Dezani)
Curso de Tecnologia em Análise e Desenvolvimento de Sistemas da Faculdade de Tecnologia de São José do Rio Preto

## 1.1. Variáveis

A programação de computadores se baseia basicamente na manipulação de números e textos que, no Python, são chamados de números e strings.

Python 3 possui três representações de números embutidas, quais sejam: `int`, `float` e `complex`. Vejamos como podemos declarar variáveis com estes tipos de dados.

In [ ]:
#teste curso em video
dia = int(input('digite seu dia de nascimento: '))
mes = int(input('digite seu mês de nascimento: '))
ano = int(input('digite seu ano de nascimento: '))
print ('sua data de nascimento é: {}/{}/{}, correto?'.format(dia,mes,ano))

digite seu dia de nascimento: 01
digite seu mês de nascimento: 09
digite seu ano de nascimento: 2000
sua data de nascimento é: 1/9/2000, correto?

In [ ]:
#teste curso em video
num = int(input('Digite um número: '))
num_2 = int(input('Digite um número: '))
print('o primeiro número foi:' {}\n o segundo número foi: {}\n a soma entre eles é: {}'.format(num,num_2,num+num_2))

Digite um número: 5
Digite um número: 8
o primeiro número foi 5
 o segundo número foi 8
 a soma entre eles é: 13

In [ ]:
#teste curso em video
n1 = int(input('Digite um número: '))
n2 = int(input("Digite outro número: "))
s = n1 + n2
m = n1 * n2
d = n1 / n2
di = n1 // n2
e = n1 ** n2  # ou pow(n1,n2)
print('A soma vale {}, a multiplicação vale {}, a Divisão vale {:.3f}'.format(s, m, d), end = ' ')
#:.3f define a quantidade de casas, end = '' para não pular para linha de baixo, \n para pular
print('A divisão exata vale {}, a potência vale {}'.format(di, e))

Digite um número: 5
Digite outro número: 6
A soma vale 11, a multiplicação vale 30, a Divisão vale 0.833 A divisão exata vale 0, a potência vale 15625

Formatando textos.

In [ ]:
print(125 ** (1 / 3))
print('=' * 20)

# raiz quadrada

print(81 ** (1 / 2))

# raiz cúbica

print(125 ** (1 / 3))
print('=' * 20)
# formatando e alinhando textos
nome = input('Digite seu nome: ')
print('É um prazer te conhecer, {:20}!'.format(nome))
print('É um prazer te conhecer, {:>20}!'.format(nome))
print('É um prazer te conhecer, {:<20}!'.format(nome))
print('É um prazer te conhecer, {:^20}!'.format(nome))
print('É um prazer te conhecer, {:=^20}!'.format(nome))

4.999999999999999
====================
9.0
4.999999999999999
====================
Digite seu nome: matheus
É um prazer te conhecer, matheus             !
É um prazer te conhecer,              matheus!
É um prazer te conhecer, matheus             !
É um prazer te conhecer,       matheus       !
É um prazer te conhecer, ======matheus=======!

In [ ]:
tipo = input('Digite algo: ')
print(type(tipo))
print('É um número?', tipo.isnumeric())
print('È alfabetico?', tipo.isalpha())
print('É alfanumérico?', tipo.isalnum())
print('Está em maiúsculo?', tipo.isupper())
print('Está em minúsculo?', tipo.islower())
print('Só tem espaços?', tipo.isspace())
print('Está capitalizada?', tipo.istitle())

Digite algo: oi
<class 'str'>
É um número? False
È alfabetico? True
É alfanumérico? True
Está em maiúsculo? False
Está em minúsculo? True
Só tem espaços? False
Está capitalizada? False

In [ ]:
idade = 38    # declara a variável 'idade' com o valor inteiro (int)
print(idade)  # função built-in reponsável por escrever na tela.

38

In [ ]:
salario = 752.89 # declara a variável 'salário' com o valor de ponto flutuate (float)
print(salario)

752.89

In [ ]:
complexo = 1+2j  # complex
print(complexo)

(1+2j)

**Exercício 1**: Armazene em variáveis os valores de seu ano de ingresso na Fatec a sua média final na disciplina de Matemática Discreta.

In [ ]:
ano_ingresso = 2021
media = 8.9

print('ano de ingresso é:', ano_ingresso)
print('média final é: ', media)

ano de ingresso é: 2021
média final é:  8.9

In [ ]:
# digite seu código aqui.
ano_ingresso = 2019
media_final_md = 7.5

print(ano_ingresso)
print(media_final_md)

2019
7.5

## 1.2. Built-in functions

O interpretador Python possui várias funções que estão sempre disponíveis para uso. Essas funções são chamadas de **funções internas (built-in functions)**. Por exemplo, a função `print()` imprime o objeto fornecido no dispositivo de saída padrão (tela). No Python 3.6 existem 68 funções internas.

Vamos supor que seja necessário descobrir os tipos de dados das variáveis declaradas anteriormente. Para tanto, utilizamos a função built-in `type(obj)` , com apenas um parâmetro, a qual retorna o tipo de um objeto.

In [ ]:
type(idade)

int

In [ ]:
type(salario)

float

In [ ]:
type(complexo)

In [ ]:
# if isinstance(idade, int):
#   print('inteiro')
# else:
#   print('não inteiro')

**Exercício 2**: Mostre os tipos de dados das variáveis que você criou no Exercício 1.

In [ ]:
# digite seu código aqui.
tipo_ano_ingresso = type(ano_ingresso)
print(tipo_ano_ingresso)

tipo_media_final_md = type(media_final_md)
print(tipo_media_final_md)

<class 'int'>
<class 'float'>

Outras **funções buit-in** permitem realizar a **conversão dos tipos de dados** apresentados anteriormente. Veja os exemplos:

In [ ]:
idade_float = float(idade) # converte o valor da variável idade para float
print(idade_float)

38.0

In [ ]:
salario_int = int(salario) # converte o valor da variável salario para int
print(salario_int)

752

Além das conversões de tipos de dados, temos diversas **funções built-in** que nos permitem trabalhar com números. Vejamos alguns exemplos:

In [ ]:
salario_arredondado =  round(salario) # arredonda um número para uma dada quantidade de casas decimais (o padrão é zero casa decimal).
print(salario_arredondado)

753

In [ ]:
salario_arredondado =  round(salario, 1) # arredonda o número usando 1 casa decimal.
print(salario_arredondado)

752.9

In [ ]:
valor_absoluto = abs(-10) # retorna o valor absoluto de um número.
print(valor_absoluto)

10

In [ ]:
maior_valor = max(1, 7, 10, 3) # retorna o maior valor de uma coleção de números.
print(maior_valor)

10

In [ ]:
quadrado = pow(10, 2) # retorna a potência (2) de um número (10).
print(quadrado)

100

In [ ]:
binario = bin(9) # retorna o valor binário de um número inteiro.
print(binario)
type(binario)

0b1001

str

In [ ]:
help('print') # mostra a documentação da função. Utilizado apenas para auxiliar na programação no software.

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

## 1.3. Comandos de Entrada e Saída
Os comandos de entrada e saída permitem que possamos interagir com o programa, recebendo *feedback* dos resultados computados ou realizando a entrada de dados para o sistema. Ambos os comandos consistem em funções built-in, quais seja: `print()`, vista anteriormente, e `input('texto do prompt')` para entrada de dados. Vejamos um exemplo.

In [ ]:
nome = input('Digite o seu nome: ') # apresenta um elemento para entrada de dados com o label escrito como argumento.
print(nome)

Digite o seu nome: Henrique Dezani
Henrique Dezani

In [ ]:
type(nome) # toda entrada de dados obtida pela função built-in input() é uma string!

str

Portanto, se quisermos obter um número (inteiro ou ponto flutuante) digitado por um usuário, devemos receber a string da função built-in `input()` e, em seguida, realizar as conversões necessárias, utilizando as funções built-in `int()` ou `float()`. Veja o exemplo a seguir:

In [ ]:
idade_str = input('Qual a sua idade? ')
idade_int = int(idade_str)
print(idade_int)

Qual a sua idade? 38
38

In [ ]:
type(idade_str)

str

In [ ]:
type(idade_int)

int

**Para pensar**: E se o valor informado pelo usuário não for um número inteiro? Ou seja, e se o usuário digitou a letra a? Neste caso, uma exceção (erro) será disparada. Em aulas futuras estudaremos como tratar as exceções.

**Exerício 3**: Refaça o Exercício 1 de maneira que os dados sejam informados pelo usuário.

In [ ]:
# digite seu código aqui.
ano_ingresso_str = input('Digite o seu ano de ingresso')
ano_ingresso = int(ano_ingresso_str)
print(ano_ingresso)

Digite o seu ano de ingresso2006
2006

##1.4 Operações Aritméticas
Para realizar as operações aritméticas, utilizamos os símbolos + (soma), - (subtração), * (multiplicação) e / (divisão).
É importante lembrar que temos a precedência das operações () /* +-

In [ ]:
numero1 = int(input('Digite o primeiro número'))
numero2 = int(input('Digite o segundo número'))

soma = numero1 + numero2
print(soma)

subtracao = numero1 - numero2
print(subtracao)

multiplicacao = numero1 * numero2
print(multiplicacao)

divisao = numero1 / numero2
print(divisao)

divisao_inteira = numero1 // numero2
print(divisao_inteira)

modulo = numero1 % numero2
print(modulo)               # 0 número par, 1 número ímpar

potencia = numero1 ** numero2
print(potencia)

Digite o primeiro número10
Digite o segundo número5
15
5
50
2.0
2
0
100000

## 1.5. O Poder do Print (versão 3.6)

In [ ]:
print("Olá")

In [ ]:
nome = "Henrique"
sobrenome = "Dezani"

print("Olá, " + nome + " " + sobrenome) # concatenação

Olá, Henrique Dezani

In [ ]:
print("Olá, " + nome + " " + sobrenome + ", tudo bem?") # concatenação

Olá, Henrique Dezani, tudo bem?

In [ ]:
print("Olá,", nome, sobrenome, ", tudo bem?") # concatenação

Olá, Henrique Dezani , tudo bem?

In [ ]:
print("Olá, {}, tudo bem?".format(nome)) #interpolação

Olá, Henrique, tudo bem?

In [ ]:
print("Olá, {} {}, tudo bem?".format(nome, sobrenome)) #interpolação de duas variáveis

Olá, Henrique Dezani, tudo bem?

In [ ]:
print("Olá, {0} {1}, tudo bem?".format(nome, sobrenome)) # interpolação, passando os índices

Olá, Dezani Henrique, tudo bem?

In [ ]:
print("!{:>20}".format(nome)) # alinha a variável à esquerda no texto.

!            Henrique

In [ ]:
print("!{:<20}!".format(nome)) # alinha a variável à direita no texto.

!Henrique            !

In [ ]:
print("{:^20}".format(nome)) # centraliza o texto dentro da quantidade máxima de caracteres

      Henrique

In [ ]:
print("{:=^20}".format(nome)) # adiciona o símbolo '=' nos espaços

======Henrique======

In [ ]:
print("Olá", end='') # define o caracter final (padrão '\n')
print(" Mundo")

Olá Mundo

## 1.6. Exercícios

### 1.6.1. Exercício 1: Implemente um programa que leia um número inteiro e mostre seu sucessor e seu antecessor.

In [ ]:
num = int(input('Digite um número inteiro: '))
sucessor = num + 1 
antecessor = num - 1
print('número: {}, seu sucessor é: {}, seu antecessor é: {}'.format(num,sucessor,antecessor))

Digite um número inteiro: 5
número: 5, seu sucessor é: 6, seu antecessor é: 4

In [ ]:
n = int(input('Digite um número: '))
print('número: {}, antecessor: {}, sucessor: {}'.format(n, n-1, n+1))

Digite um número: 6
número: 6, antecessor: 5, sucessor: 7

### 1.6.2. Exercício 2: Implemente um programa que leia um número inteiro e mostre seu dobro e seu triplo.

In [ ]:
num = int(input('DIgite um número inteiro: '))
dobro = num * 2
triplo = num * 3
print('Número é: {1}, Seu dobro é: {0}, Seu triplo é: {2}'.format(dobro,num,triplo))

DIgite um número inteiro: 5
Número é: 5, Seu dobro é: 10, Seu triplo é: 15

In [ ]:
n = int(input('Digite um número: '))
print('número: {}, seu dobro: {}, seu triplo: {}, raiz quadrada: {:.2f}'.format(n, n * 2, n * 3, n ** (1 / 2)))
# outra forma de calcular raiz quadrada
print(pow(n, (1/2)))

Digite um número: 2
número: 2, seu dobro: 4, seu triplo: 6, raiz quadrada: 1.41
1.4142135623730951

### 1.6.3. Exercício 3: Implemente um programa que leia 4 notas de um aluno e mostre a média aritmética.

In [ ]:
nota1 = float(input('Digite sua nota: '))
nota2 = float(input('Digite sua nota: '))
nota3 = float(input('Digite sua nota: '))
nota4 = float(input('Digite sua nota: '))
media_aritimetica = (nota1+nota2+nota3+nota4) / 4
print('Sua primeira nota foi: {}, Sua segunda nota foi: {},Sua terceira nota foi: {}, Sua quarta nota foi: {}, Sua nota final foi: {}'.format(nota1,nota2,nota3,nota4,media_aritimetica))

Digite sua nota: 5
Digite sua nota: 2
Digite sua nota: 3
Digite sua nota: 10
Sua primeira nota foi: 5.0, Sua segunda nota foi: 2.0,Sua terceira nota foi: 3.0, Sua quarta nota foi: 10.0, Sua nota final foi: 5.0

In [ ]:
nota1 = float(input('Digite sua primeira nota: '))
nota2 = float(input('Digite sua segunda nota: '))
print('Nota 1: {} \n Nota 2: {} \n Média: {:.2f} '.format(nota1, nota2, (nota1 + nota2) / 2))
# As variavéis no python podem ter acentos

Digite sua primeira nota: 6
Digite sua segunda nota: 3
Nota 1: 6.0
 Nota 2: 3.0
 Média: 4.50

### 1.6.4. Exercício 4: Implemente um programa que leia um valor em metros e mostre seu valor em centímetros e em milímetros.

In [ ]:
metros = int(input("digite a quantidade de metros: "))
cm = metros * 100
mm = metros * 1000
print(' valor em cm: ', cm, 'valor em mm: ',mm)

digite a quantidade de metros: 1
 valor em cm:  100 valor em mm:  1000

In [ ]:
metros = float(input('Digite a quantidade em metros: '))
print('Quantidade em metros: {} \n Quantidade em centimetros: {} \n Quantidade em milimetros: {}'.format(metros,metros*100,metros*1000))
print('dm: {}, dam: {:.1f}, hm: {}, km:{}'.format(metros*10, metros*0.1, metros*0.01, metros*0.001))

Digite a quantidade em metros: 5
Quantidade em metros: 5.0
 Quantidade em centimetros: 500.0
 Quantidade em milimetros: 5000.0
dm: 50.0, dam: 0.5, hm: 0.05, km:0.005

### 1.6.5. Exercício 5: Implemente um programa que tenha como entrada o valor em uma carteira e mostre o valor correspondente em dolar.

In [ ]:
valor = float(input('Digite o valor: '))
valor_dolar = valor / 5.20
print('Valor correspondente a dolar é: ', valor_dolar)

Digite o valor: 6
Valor correspondente a dolar é:  1.1538461538461537

In [ ]:
real = float(input('Digite a quantidade em reais que possuí: R$'))
print('A quantidade correspondente em  dolar é: {:.2f}'.format(real / 3.27))

Digite a quantidade em reais que possuí: R$50
A quantidade correspondente em  dolar é: 15.29

### 1.6.6. Exercício 6: Supondo que queremos pintar o muro da instituição, faça um programa que leia a altura e a largura do muro e mostre a quantidade de tinta necessária (1 litro de tinta pode pintar uma área de 2 metros quadrados).

In [ ]:
altura = float(input('Digite a altura da parede: '))
largura = float(input('Digite a largura da parede: '))
print('Area da parade: {} m² , quantidade de tinta necessaria: {} litros de tinta'.format(altura*largura, altura*largura / 2))

Digite a altura da parede: 2
Digite a largura da parede: 5
Area da parade: 10.0 m² , quantidade de tinta necessaria: 5.0 litros de tinta

In [ ]:
altura = int(input("digite a altura do muro:"))
largura = int(input("digite a largura do muro:"))
area = altura * largura
quant = area /2
print("quantidade de tintas:", quant)

digite a altura do muro:2
digite a largura do muro:5
quantidade de tintas: 5.0

### 1.6.7. Exercício 7: Faça um programa que leia o preço de um produto e mostre o valor com 5% de desconto.

In [ ]:
preco = float(input('O preço do produto é: '))
desconto = preco - (preco * 0.05) 
print('o preço é : {}, com desconto é: {}'.format(preco,desconto))

O preço do produto é: 100
o preço é : 100.0, com desconto é: 95.0

In [ ]:
preco = float(input('Digite o preço do produto: R$'))
print('Novo preço do produto é: {:.2f}'.format(preco - preco*0.05))

Digite o preço do produto: R$5
Novo preço do produto é: 4.75

### 1.6.8. Exercício 8: Faça um programa que leia o salário de um colaborador e calcule seu salário com um aumento de 15%.

In [ ]:
salario = float(input('Digite seu sálario: '))
aumento = salario + salario * 0.15
print('Sálario é: {}, com aumento: {}'.format(salario,aumento))

Digite seu sálario: 1000
Sálario é: 1000.0, com aumento: 1150.0

In [ ]:
salario = float(input('Digite seu salário: R$'))
print('Novo salário: {}'.format(salario + salario * 0.15))

Digite seu salário: R$1800
Novo salário: 2070.0